
.product {
  font-size: 12pt;
  font-family: 'Radio Canada', sans-serif;
  color: black;
  text-align: center;
}

.buttontext {
  font-size: 12pt;
  font-family: 'Radio Canada', sans-serif;
  color: black;
}

.title {
  font-size: 50pt;
  font-family: 'Radio Canada', sans-serif;
  color: white;
}

.beigecolor {
  background-color: #FBF0D9
}
