
.product {
  font-size: 12pt;
  font-family: 'Radio Canada', sans-serif;
  color: black;
  text-align: center;
}

.buttontext {
  font-size: 12pt;
  font-family: 'Radio Canada', sans-serif;
  color: black;
}

.title {
  font-size: 50pt;
  font-family: 'Radio Canada', sans-serif;
  color: white;
}

.titleblack {
  font-size: 50pt;
  font-family: 'Radio Canada', sans-serif;
  color: black;
}

.beigecolor {
  background-color: #FBF0D9;
  width: 200;
  height: 100;
}

#limited {
  background-image: url("images/NewarrivalsNEW.png");
  background-attachment: scroll;
}

#popularnow {
  background-image: url("images/popularnow.png");
  background-attachment: scroll;
}

#letter{
  background-image: url("images/newsletter.png");
  background-attachment: scroll;
}

#men{
  background-image: url("images/menclothing.png");
  background-attachment: scroll;
}
